﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.main-section {
    margin: 0 auto;
    margin-top: 5%;
}

.card {
    opacity: .95;
}

.card-body {  
    box-shadow: 0px 0px 3px #848484;
}

label {
    font-weight: bold;
}

.nav-tabs .nav-item a:not(.active) {
    background-color: #d1d3d6;
}

.nav-tabs {
    border-bottom: 0px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.btn-action{
    margin-left : 30px;
}

.full-name{
    width: 40%

}

.nick-name{
    width: 20%
}

.form-group .is-active-check {
    width: 20%;
}

.left-header-block {
    width: 200px;
    display: inherit;
    justify-content: space-between;
}