﻿@{
    ViewData["Title"] = "Tenant list";
}

<div class="card">
    <div class="card-header">
        <div class="left-header-block">
            <h4>Tenants</h4>
            <select id="gender-filter">
                <option value="0">All</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>
    
        <button class="btn btn-success" onclick="openModal()">Create</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="userList" class="table table-bordered table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="full-name">Full Name</th>
                        <th scope="col" class="nick-name">Nickname</th>
                        <th scope="col">Active</th>
                        <th scope="col">Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tenants-table">
                    <tr>
                    <tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


@*Modal*@
<div class="modal fade" id="tenant-modal" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTennant">Tennant Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="tenant-form" onsubmit="submitForm()">
                    <div class="form-group">
                        <label for="firstname">First name</label>
                        <input class="form-control" name="firstname" id="firstname" />
                    </div>
                    <div class="form-group">
                        <label for="middlename">Middle name</label>
                        <input class="form-control" id="middlename" name="middlename"/>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name</label>
                        <input class="form-control" name="lastname" id="lastname" />                     
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input class="form-control" id="nickname" name="nickname"/>                       
                    </div>
                    <div class="form-group">
                        <label>Active Status</label>
                        <input type="checkbox" class="form-control is-active-check" id="isactive" />                      
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" id="gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <ul class="text-danger"></ul>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-secondary" type="button"  data-dismiss="modal" value="Close"/>
                        <input class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div> 

